
$spacing: 1.5rem;
$spacing-mobile: 1rem;

$responsive-size: "device";

$bg: #473044;
$bg-light: #574454;
$bg-other: #3d1f39;
$bg-dark: #2b1628;
$bg-inverse: #ebe8dd;

$text: #000;

@import "toolkit/common";