.framework {
    // Global

    a,
    .secondary { color: $framework-secondary; }

    a:hover { color: darken($framework-secondary, 15%); }

    .head {
        background: $framework-primary-dark image-url("hexagon-pattern.png") repeat;
    }

    .hexagon,
    .hexagon-16,
    .hexagon-24,
    .hexagon-32,
    .hexagon-64,
    .hexagon-128 {
        background-image: image-url("hexagon-teal.png");

        @include if-retina {
            background-image: image-url("hexagon-teal@2x.png");
        }
    }

    // Landing

    .hexagons { width: 660px; }

    .packages {
        .label { color: $framework-primary; }

        a:hover { background-color: $framework-secondary; }
    }

    .segment {
        border-color: #182028;

        h6 { color: $framework-text; }

        &:nth-child(even) {
            background-color: $framework-bg-alt;
            border-color: $framework-border;
        }
    }

    .install {
        background-color: $framework-primary-dark;
        color: #fff;
    }

    // UI

    .dropdown li > a:hover { background-color: $framework-secondary; }

    .modal-inner {
        background: $framework-bg;
    }

    .modal-head,
    .modal-foot {
        background: $framework-bg-alt;
    }

    .modal-body {
        border-top: 2px solid $framework-border;
        border-bottom: 2px solid $framework-border;
    }
}