html {
    font: normal 76%/150% "Droid Sans", sans-serif;
}

body {
    color: $text;
    background: #fff;
    margin: 0;
    padding: 0;
}

a, a:hover {
    color: shade($blue, 10%);
    text-decoration: none;
}

a:hover {
    color: $blue-dark;
}

//-------------------- Content --------------------//

@include if-tablet-portrait {
    html { font-size: 84%; }
}

@include if-desktop {
    html { font-size: 90%; }
}