
$gray-lightest: #fbfbfb;
$gray-light: #f8f8f8;
$gray: #f5f5f5;
$gray-dark: #e5e5e5;
$gray-darkest: #c2c2c2;

$bg-dark: #4d5967;
$bg-dark-alt: #3f4752;
$bg-dark-hover: #272a2f;
$bg-dark-border: #656c76;

$bg-light: #f6faff;
$bg-light-border: #e9f0f8;

$text: #3f4752;

$padding: 1.5rem;
$margin: 1.5rem;
$radius: 3px;