/* line 7, ../scss/framework.scss */
.framework a {
  color: #4fac9c; }
/* line 8, ../scss/framework.scss */
.framework a:hover {
  color: #37786c; }
/* line 10, ../scss/framework.scss */
.framework .head {
  background-color: #3d1f39; }
/* line 19, ../scss/framework.scss */
.framework .hexagon,
.framework .hexagon-16,
.framework .hexagon-24,
.framework .hexagon-32,
.framework .hexagon-64,
.framework .hexagon-128 {
  background-image: url('../img/hexagon-teal.png?1387868136'); }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    /* line 19, ../scss/framework.scss */
    .framework .hexagon,
    .framework .hexagon-16,
    .framework .hexagon-24,
    .framework .hexagon-32,
    .framework .hexagon-64,
    .framework .hexagon-128 {
      background-image: url('../img/hexagon-teal@2x.png?1387868121'); } }
/* line 29, ../scss/framework.scss */
.framework .hexagons {
  width: 660px; }
/* line 31, ../scss/framework.scss */
.framework .components a:hover {
  background-color: #4fac9c; }
/* line 33, ../scss/framework.scss */
.framework .segment {
  border-color: #182028; }
  /* line 36, ../scss/framework.scss */
  .framework .segment h6 {
    color: #8f8d85; }
  /* line 38, ../scss/framework.scss */
  .framework .segment:nth-child(even) {
    background-color: #ebe8dd;
    border-color: #d3d0c4; }
/* line 44, ../scss/framework.scss */
.framework .examples {
  background-color: #3d1f39;
  color: #fff; }
