/* line 4, ../scss/landing.scss */
.head .wrapper {
  padding: 2rem 10%;
  text-align: center; }
  /* line 8, ../scss/landing.scss */
  .head .wrapper h1 {
    font-size: 5rem; }
  /* line 10, ../scss/landing.scss */
  .head .wrapper h1, .head .wrapper p {
    text-shadow: 0 1px rgba(0, 0, 0, 0.5); }

/* line 14, ../scss/landing.scss */
.hexagons {
  position: relative;
  height: 176px;
  margin: 3rem auto; }
  /* line 19, ../scss/landing.scss */
  .hexagons a {
    display: block;
    color: #fff !important;
    position: absolute;
    top: 0;
    line-height: normal;
    font-size: 1.1rem;
    width: 128px;
    height: 113px;
    background-position: 0 -57px; }
    /* line 32, ../scss/landing.scss */
    .hexagons a small {
      display: block;
      opacity: .5; }
    /* line 37, ../scss/landing.scss */
    .hexagons a:hover {
      opacity: .75; }
    /* line 41, ../scss/landing.scss */
    .hexagons a:nth-child(2) {
      left: 105px;
      top: 60px; }
    /* line 46, ../scss/landing.scss */
    .hexagons a:nth-child(3) {
      left: 210px; }
    /* line 50, ../scss/landing.scss */
    .hexagons a:nth-child(4) {
      left: 315px;
      top: 60px; }
    /* line 55, ../scss/landing.scss */
    .hexagons a:nth-child(5) {
      left: 420px; }
    /* line 59, ../scss/landing.scss */
    .hexagons a:nth-child(6) {
      left: 525px;
      top: 60px; }

/* line 66, ../scss/landing.scss */
.segment {
  position: relative;
  border-top: 2px solid transparent; }
  /* line 70, ../scss/landing.scss */
  .segment h2, .segment h5 {
    text-align: center; }
  /* line 74, ../scss/landing.scss */
  .segment h5 {
    color: #b3b3b3; }
  /* line 78, ../scss/landing.scss */
  .segment h6 + p {
    margin: .1rem 0 0 0; }
  /* line 82, ../scss/landing.scss */
  .segment hr {
    margin: 2rem 0;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.05); }

/* line 90, ../scss/landing.scss */
.features ul {
  list-style: none;
  margin: 0;
  padding: 0; }
/* line 96, ../scss/landing.scss */
.features li {
  margin-bottom: 1.5rem;
  position: relative;
  padding-left: 45px; }
  /* line 101, ../scss/landing.scss */
  .features li .hexagon-32 {
    position: absolute;
    top: .3rem;
    left: 0; }

/* line 111, ../scss/landing.scss */
.components a,
.packages a {
  display: block;
  padding: .5rem 1rem;
  text-align: center;
  background: #fff;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s; }
  /* line 118, ../scss/landing.scss */
  .components a:hover,
  .packages a:hover {
    color: #fff !important; }
/* line 123, ../scss/landing.scss */
.components ul,
.packages ul {
  list-style: none;
  margin: 1.5rem 0;
  padding: 0; }
  /* line 128, ../scss/landing.scss */
  .components ul + h6,
  .packages ul + h6 {
    margin-top: 3rem; }
/* line 133, ../scss/landing.scss */
.components li,
.packages li {
  margin-top: 2px; }
  /* line 136, ../scss/landing.scss */
  .components li:first-child a,
  .packages li:first-child a {
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem; }
  /* line 141, ../scss/landing.scss */
  .components li:last-child a,
  .packages li:last-child a {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem; }

/* line 151, ../scss/landing.scss */
.examples pre,
.examples code,
.install pre,
.install code {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 0.2rem;
  border: none;
  margin-bottom: 0; }
/* line 158, ../scss/landing.scss */
.examples pre code,
.install pre code {
  background: none; }
/* line 162, ../scss/landing.scss */
.examples hr,
.install hr {
  border-top-color: rgba(255, 255, 255, 0.05); }
/* line 166, ../scss/landing.scss */
.examples .col > p,
.install .col > p {
  margin-top: 0; }

@media only screen and (max-width: 480px) {
  /* line 172, ../scss/landing.scss */
  .hexagons {
    width: 290px;
    height: 95px; }
    /* line 176, ../scss/landing.scss */
    .hexagons a {
      width: 64px;
      height: 57px;
      background-position: 0 0; }
      /* line 181, ../scss/landing.scss */
      .hexagons a:nth-child(2) {
        left: 55px;
        top: 35px; }
      /* line 186, ../scss/landing.scss */
      .hexagons a:nth-child(3) {
        left: 110px; }
      /* line 190, ../scss/landing.scss */
      .hexagons a:nth-child(4) {
        left: 165px;
        top: 35px; }
      /* line 195, ../scss/landing.scss */
      .hexagons a:nth-child(5) {
        left: 220px; } }
@media only screen and (min-width: 768px) {
  /* line 203, ../scss/landing.scss */
  .head .wrapper {
    padding: 3rem 15%; }

  /* line 207, ../scss/landing.scss */
  .features li {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding-right: 45px; }

  /* line 214, ../scss/landing.scss */
  .hexagons a {
    width: 128px;
    height: 113px;
    background-position: 0 -57px; }
    /* line 219, ../scss/landing.scss */
    .hexagons a:nth-child(2) {
      left: 105px;
      top: 60px; }
    /* line 224, ../scss/landing.scss */
    .hexagons a:nth-child(3) {
      left: 210px; }
    /* line 228, ../scss/landing.scss */
    .hexagons a:nth-child(4) {
      left: 315px;
      top: 60px; }
    /* line 233, ../scss/landing.scss */
    .hexagons a:nth-child(5) {
      left: 420px; } }
@media only screen and (min-width: 1280px) {
  /* line 240, ../scss/landing.scss */
  .head .wrapper {
    padding: 4rem 20%; }

  /* line 242, ../scss/landing.scss */
  .features li {
    width: 33%; } }
