/* line 7, ../scss/toolkit.scss */
.toolkit a {
  color: #dd6195; }
/* line 8, ../scss/toolkit.scss */
.toolkit a:hover {
  color: #c72b6c; }
/* line 10, ../scss/toolkit.scss */
.toolkit .head {
  background-color: #293f54; }
/* line 19, ../scss/toolkit.scss */
.toolkit .hexagon,
.toolkit .hexagon-16,
.toolkit .hexagon-24,
.toolkit .hexagon-32,
.toolkit .hexagon-64,
.toolkit .hexagon-128 {
  background-image: url('../img/hexagon-pink.png?1387744721'); }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    /* line 19, ../scss/toolkit.scss */
    .toolkit .hexagon,
    .toolkit .hexagon-16,
    .toolkit .hexagon-24,
    .toolkit .hexagon-32,
    .toolkit .hexagon-64,
    .toolkit .hexagon-128 {
      background-image: url('../img/hexagon-pink@2x.png?1387744657'); } }
/* line 29, ../scss/toolkit.scss */
.toolkit .hexagons {
  width: 550px; }
/* line 31, ../scss/toolkit.scss */
.toolkit .components a:hover {
  background-color: #dd6195; }
/* line 33, ../scss/toolkit.scss */
.toolkit .segment {
  border-color: #182028; }
  /* line 36, ../scss/toolkit.scss */
  .toolkit .segment h6 {
    color: #6e7e8a; }
  /* line 38, ../scss/toolkit.scss */
  .toolkit .segment:nth-child(even) {
    background-color: #f0f1f2;
    border-color: #cfd4d9; }
/* line 44, ../scss/toolkit.scss */
.toolkit .examples {
  background-color: #293f54;
  color: #fff; }
