@import "../global/common";

$docs-border-color: darken($toolkit-bg-alt, 5%);

#doc { position: relative; }

.documentation {
    > .head .wrapper {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .back-to-top {
        font-size: .8rem;
        color: $toolkit-primary;
        opacity: .3;
        float: right;

        &:hover { opacity: 1; }
    }

    .docs-article {
        h2 { font-size: 2rem; }
        h3 { font-size: 1.7rem; }
        h4 { font-size: 1.4rem; }
        h5 { font-size: 1.3rem; }
        h6 { font-size: 1.2rem; }

        h3 {
            margin: $spacing -1.5rem;
            padding: $spacing;
            padding-bottom: 0;
            border-top: 1px solid $docs-border-color;
        }

        h4 {
            margin-top: ($spacing * 2);
        }

        ul li { margin: .4rem 0; }

        p, pre, .notice {
            &:last-child {
                margin-bottom: 0;
            }
        }

        &:last-child { margin-bottom: 0; }
    }

    .docs-sidebar.is-pinned {
        margin: $margin 0;
    }

    .docs-toc {
        padding: 0;
        overflow: hidden;

        header {
            padding: .5rem .75rem;
            color: $toolkit-primary;
            font-weight: bold;
            background: linear-gradient(to bottom, #fff, $toolkit-bg-alt);
            border-top-left-radius: $round;
            border-top-right-radius: $round;
        }

        ul {
            @include reset-list;

            li {
                border-top: 1px solid $docs-border-color;

                a {
                    display: block;
                    padding: .5rem .75rem;
                    outline: none;

                    .label.float-right {
                        margin-top: .3rem;
                    }

                    &:hover {
                        color: #fff;
                        background: $toolkit-secondary;

                        .label {
                            background: white(.3);
                            color: #fff;
                        }
                    }

                    &.is-active {
                        border-right: 10px solid $docs-border-color;
                    }
                }

                &.is-open {
                    > ul {
                        background: lighten($toolkit-bg-alt, 1.5%);
                        border-top: 1px solid $docs-border-color;
                    }

                    > a {
                        font-weight: bold;
                    }
                }
            }

            ul li { border: 0; }

            ul li a {
                padding-left: 1.75rem;
                font-size: .9rem;
                color: $toolkit-primary-light;

                &:hover {
                    background: lighten($toolkit-bg-alt, 4%);
                    color: $toolkit-primary;
                }
            }

            ul ul li a { padding-left: 2.75rem; }
            ul ul ul li a { padding-left: 3.75rem; }
        }
    }

    .docs-nav {
        @include reset-list();

        li {
            display: inline-block;
        }

        a {
            display: block;
            text-align: center;
            padding: .75rem;
            padding-top: .85rem;
            color: $toolkit-bg-alt;

            .title {
                display: none;
                margin-top: 5px;
            }

            .fa {
                display: block;
                font-size: 2rem;
            }

            &.is-active {
                background: $toolkit-bg-alt;
                color: $toolkit-primary;
            }
        }
    }

    .docs-meta {
        margin: 1.5rem 0 0 0;
        padding: 0;
        list-style: none;

        li { margin: 5px 0 0 0 !important; }

        &:empty { display: none; }
    }

    .docs-actions {
        float: right;
        display: none;
    }

    //-------------------- Responsive --------------------//

    @include if-small {
        .docs-nav li a {
            min-width: 90px;

            .title {
                display: block;
            }
        }
    }

    @include if-medium {
        .docs-nav li a {
            min-width: 120px;
        }

        .docs-actions {
            display: block;
        }
    }

}