@import "toolkit/components/drop";

.drop--down {
    background: $bg-color;
    border-radius: $round;
    font-size: .9rem;

    li {
        > a {
            padding: 1rem;
            transition: all .1s;

            &:hover {
                color: #fff;
                background: $framework-primary-light;
            }
        }

        &:first-child > a {
            border-top-left-radius: $round;
            border-top-right-radius: $round;
        }

        &:last-child > a {
            border-bottom-left-radius: $round;
            border-bottom-right-radius: $round;
        }
    }
}