@import "toolkit/components/loader";
@import "toolkit/components/blackout";
@import "toolkit/components/modal";

.modal-inner {
    border-radius: $round;
}

.modal-head {
    border-top-left-radius: $round;
    border-top-right-radius: $round;
}

.modal-foot {
    border-bottom-left-radius: $round;
    border-bottom-right-radius: $round;
}

@include if-large() {
    .modal-head,
    .modal-body,
    .modal-foot {
        padding: $large-padding;
    }
}