@import "toolkit/components/table";

.table {
    margin-top: $margin;

    td {
        &.is-info { background: lighten($info-light, 20%); }
        &.is-success { background: lighten($success-light, 18%); }
        &.is-warning { background: lighten($warning-light, 18%); }
        &.is-error { background: lighten($error-light, 18%); }
    }
}

.comparison-table,
.compatibility-table {
    td {
        text-align: center;

        &:first-child { text-align: left; }
    }
}